body {
    width: 8.5in;
    margin: 0in .1875in;
}

.label-wrapper{
    /* Avery 5160 labels */
    width: 2.025in;
    height: .875in;
    padding: .125in .3in 0;
    margin-right: .125in;
    float: left;
    overflow: hidden;
    outline: 1px dotted; /* outline doesn't occupy space like border does */
    font-size: .4em;
}

.label-wrapper.template-2 {
    width: 2.725in;
    height: 1.725in;
    padding: .125in;
}

.label-wrapper.template-3 {
    width: 3.225in;
    height: 2.225in;
    padding: .125in;
}

.label-wrapper.template-4 {
    width: 2.725in;
    height: 2.725in;
    padding: .125in;
}

.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
}

/* Label Styles */
.label-wrapper .heading {
    font-weight: bold;
    margin-right: .6em
}


/* from preview */
.label-wrapper [class^="prev-row-"]:after {
    content: "";
    display: table;
    clear: both;
}

.label-wrapper span{margin-right: .4em; float: left;}
.label-wrapper span.heading {font-weight: bold; float: none;}
.label-wrapper div.col {width: 20%; float: left; overflow: hidden; text-overflow: ellipsis; text-align: center;}
.label-wrapper div.col:first-of-type {text-align: left;}


.label-wrapper span.item, #elr_preview_stage span.items{margin: auto .2em; display: inline; float:none; text-overflow: ellipsis;  }
.label-wrapper span.item:after {content:"\000A"; white-space: pre;}

/* Random */
.label-wrapper .show {display: inline-block;}
.label-wrapper .show.span {display: inline;}
.label-wrapper .hide {display: none;}
.label-wrapper .meta {
    border-right: 1px solid black;
    padding: 0 .5em;
}
.label-wrapper .meta:first-of-type {
    padding-left: 0;
}
.label-wrapper .meta.prev-user {
    border-right: 0;
}

.label-wrapper .flavor.row {
    float: left;
    width: 100%;
}

.label-wrapper .flavor.row .heading {
    display: none;
}

.label-wrapper .flavor.row .item {
    float: left;
    margin: 0
}

.label-wrapper .flavor.row .item:not(:last-child):after {
    content:", ";
}
