body {
    width: 8.5in;
    margin: 0in .1875in;
}

.label-wrapper{
    /* Avery 5160 labels */
    width: 2.025in;
    height: .875in;
    padding: .125in .3in 0;
    margin-right: .125in;
    float: left;
    /*overflow: hidden;*/
    outline: 1px dotted; /* outline doesn't occupy space like border does */
    font-size: .4em;
}
.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
}

/* Label Styles */
.label-wrapper .heading {
    font-weight: bold;
    margin-right: .6em
}
